<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>RusHour {{#if title}} | {{title}}{{/if}}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="/stylesheets/rotating-card.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.techie.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" href="/stylesheets/swiper.css">
    
  </head>
  <body onload="fillCard()">
  	<!-- HIDDEN FIELDS FOR USE IN JS -->
  	{{#if user}}
  		<p hidden id="userID" value="{{user._id}}">{{user._id}}</p>
  	{{/if}}
  	<!-- Top Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RusHour</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	{{#if user}}
          		<li><img src="{{user.imageUrl}}" alt="#" class="img-circle" style="max-height: 64px; max-width: 64px; padding-top: 10px;"></li>
          		<li><a href="#" class="font-inverse">{{user.firstName}}</a></li>
          		<li><a href="/users/logout" class="font-inverse">Logout</a></li>
          	{{else}}
            	<li><a href="/users/login" class="font-inverse">Login</a></li>
            	<li><a href="/users/create" class="font-inverse">Join RusHour</a></li>
            {{/if}}
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>
    <!-- Left side fixed navbar -->
	  <div class="container-fluid">
	    <div class="row">
	      <div class="col-sm-1 col-md-1 sidebar text-center">
	        <ul class="nav nav-sidebar navbar navbar-trans" role="navigation">
	        	<li><a href="/users/home/#browse"><span title="Browse" class="glyphicon glyphicon-home white" aria-hidden="true"></span></a></li><br>
	          <li><a href="/users/home/#search"><span title="Search" class="glyphicon glyphicon-search white" aria-hidden="true"></span></a></li><br>
	          <li><a href="/users/home/#whats-hot"><span title="What's Hot" class="glyphicon glyphicon-fire white" aria-hidden="true"></span></a></li><br>
	          <li><a href="/users/home/#around-me"><span title="Around Me" class="glyphicon glyphicon-map-marker white" aria-hidden="true"></span></a></li><br>
	        </ul>
	      </div>
	    </div>
	  </div>
	  {{{body}}}

  <!-- Main Scripts-->
  <script src="/js/jquery.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
  <script src="/js/bootstrap.min.js"></script>  
  <!-- Bootstrap 3 has typeahead optionally -->
  <script src="/js/typeahead.min.js"></script>
  <script src="/js/rushour.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script>
   var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      // slidesPerView: 1,
      paginationClickable: true,
      spaceBetween: 30,
      keyboardControl: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflow: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : false
      }
    });
  </script>
  <script type="text/javascript">
     
    var position = [27.1959739, 78.02423269999997];
     
    function showGoogleMaps() {
     
        var latLng = new google.maps.LatLng(position[0], position[1]);
     
        var mapOptions = {
            zoom: 16, // initialize zoom level - the max value is 21
            streetViewControl: false, // hide the yellow Street View pegman
            scaleControl: false, // allow users to zoom the Google Map
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: latLng
        };
     
        map = new google.maps.Map(document.getElementById('googlemaps'),
            mapOptions);
     
        marker = new google.maps.Marker({
            position: latLng,
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
        });
    }
     
    google.maps.event.addDomListener(window, 'load', showGoogleMaps);
  </script>
  </body>
</html>
