<div>
	<span style="color:green;">{{success}}</span>
</div>
{{#if user}}
  <h2>Hello, {{user.firstName}}.</h2>
  <img src={{user.imageUrl}} alt="Profile Picture">
  <a href="/users/logout">Logout</a>
  <form method='post' action='/users/imageUpload' enctype="multipart/form-data">
    <input type='file' name='fileUploaded'>
    <input type="text" id="userID" name="userID" value="{{user._id}}" />
	<input type='submit'>
{{else}}
  <h2>No one is signed in</h2>
{{/if}}